<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Weather Application</h1>
    <form action="/weather" method="POST">
      <label for="zipcode">Enter zip code</label>
      <input name="zipcode" id="zipcode" type="text" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
